%line {
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
}
.menu__burger {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 30px;
  height: 22px;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    display: block;
  }
  div,
  &::before,
  &::after  {
    transition: 0.5s;
    @extend %line;
  }
  &.burger-active {
    div {
      opacity: 0;
    }
    &::before {
      transform: translateY(10px) rotate(45deg);
    }
    &::after {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

.menu {
  position: absolute;
  z-index: 3;
  left: -5px;
  top: 42px;
  height: 0;
  // padding: 20px 30px;
  background: #000000;
  list-style: none;
  color: #ffffff;
  overflow: hidden;
  transition: 0.5s linear;
  // box-sizing: border-box;
  &-active {
    height: 220px;
  }
  &__item {
    position: relative;
    margin: 20px 40px 20px 50px;
    padding: 0 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background: #10a0e0 !important;
    }
  }
  .item-active {
    color: yellow;
    background: #203090;
    &::before {
      content: "✓";
      display: block;
      position: absolute;
      left: -25px;
      top: -4px;
      color: greenyellow;
    }
  }
  
}
