.page__message {
  height: 2rem;
}

.message {
  display: inline-block;
  z-index: 3;
  position: relative;
  margin: 0 5px 5px 0;
  padding: 5px 30px 5px 20px;
  background: #ffbbbb;
  border-radius: 10px;
  &__clear {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 5px;
    border: 0;
    background: transparent;
  }
}
